{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 accomplishments-section" id="{{ $sectionID }}">
    {{ if not (.section.hideTitle) }}
        <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}

    <div class="container">
        {{ range .testimonials }}
            <div class="accomplishment-card-holder p-2">
                <div class="card">
                    <div class="card-body text-justify pt-1 pb-1">
                        <p>{{ .testimonial | markdownify }}</p>
                        <figcaption class="blockquote-footer text-start">
                            {{ .name }}
                            {{ if .organization }}
                                - {{ .organization }}
                            {{ end }}
                        </figcaption>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>